<div id="eventside"  ng-controller="EventCtrl">
    <div id="eventshead" >
        <div id="searchwrapper">
            <input type="text" class="search" ng-model="searchquery" placeholder="Filter and search">   
        </div>
        <i class="icon-group"></i>
        <i class="icon-plus-sign" ng-click="showAddBox()"></i>
        <i class="icon-search"></i>    
    </div>

    <%= render 'layouts/eventbox', :action => 'create', :description => 'Create', :meth => 'New' %>
    <%= render 'layouts/eventbox', :action => 'update', :description => 'Update', :meth => 'Edit' %>

    <div class="event" ng-repeat="event in events | filter : searchquery | filter : calendarWDay" ng-mouseenter="event.showDescription=true" ng-mouseleave="event.showDescription=false" ng-class="{'last': $last}">
                {{Calendar.wDay}}
    <p class="time">{{event.time | date:'H:mm'}}</p>
    <p class="header">{{event.header}}</p>

    <p class="description" ng-show="event.showDescription">{{event.description}}</p>
      <i class="icon-edit" ng-click="showEvent(event, $index)"></i>
      <i class="icon-trash" ng-click="deleteEvent(event, $index)"></i>
      <i class="icon-group"></i>     
    </div>
</div>

<div id="dashside" ng-controller="TimeCtrl">

    <div id="userprofile">
      <div id="profile">
        <h1>Aleksey Kuznetsov</h1>
        <a href="/users/ne1ro" class="avatar">
          <%= image_tag('ne1ro.png') %>
        </a>
        <h2>@ne1ro</h2>
        <p>Web-developer, creator of the Kron Network</p>
      </div>
      <div id="buttons">
          <a href="/users/ne1ro/" class="profile-button">
          <p>Full</p>
          <p>Profile</p>
        </a>
        <a href="/users/ne1ro/following" class="profile-button">
          <p><b>0</b></p>
          <p>Following</p>
        </a>
        <a href="/users/ne1ro/followers" class="profile-button" id="last">
          <p><b>0</b></p>
          <p>Followers</p>
        </a>
        
      </div> 
      
   
    </div>
               
      <%= render 'layouts/calendar' %>

  <div id="socialside" ng-controller="GroupCtrl">
    <div class="group" ng-repeat="group in groups">
      <div id="header">
        <p>{{group.name}}</p>
        <i class="icon-edit"></i>
        <i class="icon-trash"></i>
        <div id="users" ng-repeat="user in group.users">
          <a href="users/{{user}}" class="avatar"><%= image_tag('anon.png') %>
          </a>

        </div>  
      </div>    
    </div>
  </div>
</div>



