<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {id: 'log_in', class: 'input_wrapper'}) do |f| %>
  <%= devise_error_messages! %>
  <%= f.text_field :nickname, placeholder: 'Login' %>
    <%= f.password_field :password, placeholder: 'Password'%>
    <div id="remember_wrapper">
      <div class="onoffswitch">
        <%= f.check_box :remember_me, checked: true, class: 'onoffswitch-checkbox', id:'myonoffswitch' %>
        <label class="onoffswitch-label" for="myonoffswitch"1>
          <div class="onoffswitch-inner">
              <div class="onoffswitch-active"><div class="onoffswitch-switch">YES</div></div>
              <div class="onoffswitch-inactive"><div class="onoffswitch-switch">NO</div></div>
          </div>
        </label>
      </div>
      <%= f.label 'Remember me', id: 'remember' %>
    </div>
    <%= f.submit 'Log in', class: 'dotted' %>  
<% end %>
