<div class="dateinput">
  <p><%= field %></p>
  <input type="text" ng-init="editEvent.year = editEvent.time" ng-model="<%= model %>.<%= field.downcase  %>" id="input">
  <input type="button" class="button-date" id="button-plus" ng-click="inc<%= field %>()" value="+">
  <input type="button" class="button-date" id="button-minus" ng-click="dec<%= field %>()" value="-">
</div>
