<div class="eventbox clearfix" id="<%= meth.downcase %>">
    
    <form ng-submit="<%= action %>Event()">
      <input type="text" placeholder="Header" class="textinput" ng-model="<%= meth.downcase %>Event.header">
      <input type="submit" value="<%= description %>" class="buttoninput">
      <textarea placeholder="Description" ng-model="<%= meth.downcase %>Event.description"></textarea>
      <input type="text" id="datetime-picker" date-time-picker time-filter="dd MMM yyyy HH:mm Z" ng-model="<%= meth.downcase %>Event.time">
      <p>Event notifications : </p>
    </form>

  <i class="icon-remove-sign" id="closer"></i>
</div>
