<footer>
  <div class="column">
    <%= image_tag('logo.png', :class => 'logo') %>
    <p class="uppercase">kron network</p>
    <p>Created by Aleksey Kuznetsov</p>
    <p>All rights reserved <br> © 2013</p>
  </div>
  <div class="column">
    <ul>
      <li><%= link_to 'My notifications', '/notifications' %></li>
      <li><%= link_to 'My events', user_events_path(current_user) %></li>
      <li><a href="/diaries">My diaries</a></li>
      <li><a href="/groups">My groups</a></li>
      <li><a href="/schedules">My schedules</a></li>
    </ul>
  </div>
  <div class="column">
    <ul>
      <li><%= link_to 'My account', user_path(current_user) %></a></li>
      <li><%= link_to "Log out", destroy_user_session_path, :method => :delete %></li>
      <li><a href="/about">About Kron</a></li>
      <li><a href="/tour">Kron Tour</a></li>
      <li><a href="/terms">Terms</a></li>
    </ul>
  </div>    
</footer>
