<!DOCTYPE html>
<html>
<head>
  <title>Kron ☀ <%= @title %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar-inverse navbar">
  <div class="navbar-inner">
    <ul class="nav">
      <li class="active"><%= link_to "Home", '/home'%></li>
      <li><%= link_to "Notifications", '#'%></li>
      <li><%= link_to "Events", '#'%></li>
      <li><%= link_to "Schedules", '#'%></li>
      <li><%= link_to "Groups", '#'%></li>
      <li><%= link_to "Profile", '#'%></li>
      <p id="timer">15:19</p>
    </ul>
  </div>
</div>
<div class="container">
  <%= yield %>
</div>

<div class="footer">
  
</div>

</body>
</html>
