<!DOCTYPE html>
<html>
<head>
  <title>Kron ☀ <%= @title %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <div id="sidebar">
    <a href="users/ne1ro" class="avatar"><%= image_tag('ne1ro.png') %></a>
    <a href="notifications" class="imglink"><i class="icon-bell-alt icon-2x"></i></a>
    <a href="events" class="imglink"><i class="icon-file-alt icon-2x"></i></a>
    <a href="diaries" class="imglink"><i class="icon-book icon-2x"></i></a>
    <a href="schedules" class="imglink"><i class="icon-calendar icon-2x"></i></a>
    <a href="groups" class="imglink"><i class="icon-group icon-2x"></i></a>
  </div>

  <div class="page">
    
    <div class="content">
      <%= yield %>
    </div>
    

    <div id="footer">
      
    </div>
  
  </div>

</body>
</html>
