<!DOCTYPE html>
<html ng-app="Kron">
<head>
  <title>Kron ☀ <%= @title %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body ng-init>
    
  <div class="page">
    
     <nav>
      <a href="home" class="avatar"><%= image_tag('ne1ro.png') %></a>
      <a href="notices">Notices</i></a>
      <a href="events">Events</i></a>
      <a href="diaries">Diaries</i></a>
      <a href="schedules">Schedules</i></a>
      <a href="groups">Groups</i></a>
      <p id="timer" ng-controller="TimeCtrl" ng-model="current_datetime">
        {{current_datetime}}
      </p>
    </nav>

    <div class="content">
      <%= yield %>
    </div>
  
  </div>
  <div id="footer">
    <div class="column">
      <%= image_tag('logo.png', :class => 'logo') %>
      <p class="uppercase">kron network</p>
      <p>Created by Aleksey Kuznetsov</p>
      <p>All rights reserved © 2013</p>
    </div>
    <div class="column">
      <ul>
        <li><a href="notices">My notifications</a></li>
        <li><a href="events">My events</a></li>
        <li><a href="diaries">My diaries</a></li>
        <li><a href="groups">My groups</a></li>
        <li><a href="schedules">My schedules</a></li>
      </ul>
    </div>
    <div class="column">
      <ul>
        <li><a href="users/ne1ro">My account</a></li>
        <li><a href="users/ne1ro">Log out</a></li>
        <li><a href="users/ne1ro">About Kron</a></li>
        <li><a href="users/ne1ro">Kron Tour</a></li>
        <li><a href="users/ne1ro">Time</a></li>
      </ul>
    </div>    
  </div>

</body>
</html>
